@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
  font-weight: 400;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  display: flex;
  flex-wrap: wrap;
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #BABABA;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Skip Link ====================== */
.skip-link {
  position: absolute;
  top: -300px;  // this is to hide the element
  left: 0;
  background: #BF1722;
  color: white;
  padding: 8px;
  font-size: 1em;
  font-weight: 600;
  z-index: 100;
}
.skip-link:focus {
  top: 0;
  color: white;
}
/* ====================== Header ====================== */
header {
  width: 100%;
  background-color: #252831;
  text-align:center;
}
header h1 {
  margin: auto;
  padding: 0.8em 0;
}
header h1 a {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 6px;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {

}
nav h1 {

}
nav h1 a {
  
}
#breadcrumb {
    padding: 0.8em 1.4em;
    list-style: none;
    background-color: #eee;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map-container {
  width: 100%;
}
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #137F9F;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 0.9em;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 0.6em;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 0.9em;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
}
#cuisines-select:focus,
#neighborhoods-select:focus {
  text-decoration: underline;
  box-shadow: 2px 2px 10px white;
  outline: 2px solid gray;
  color: #3397DB;

}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
#restaurants-list a {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 1em;
  font-family: Arial,sans-serif;
  margin: 0;
  min-height: 380px;
  padding: 0.5em;
  text-align: left;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}
#restaurants-list a:focus {
  outline: 0;
  border: 3px dashed lightsteelblue;
  background-color: #FFFAF0;
  box-shadow: 5px 5px 10px lightblue;
} 
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
  border-radius: 1.5em 0;
}
#restaurants-list a li h1 {
  color: #A16C02;
  font-family: Arial,sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 0.9em;
}
#restaurants-list .details-button {
  background-color: #A36900;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 15em;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {

}
#restaurant-name {
  background-color: #f18200;
  border: 0.2em solid #555;
  border-radius: 1em;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.2em;
  margin: 1em 0;
  text-transform: uppercase;
  line-height: 1.5;
  color: white;
  width: 85%;
  padding: 0.5em 1em;
  margin-left: auto;
  margin-right: auto;
}
.restaurant-img {
  width: 100%;
  border-radius: 1.5em 0;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 87%;
}
#restaurant-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 0.5em 1.3em;
  width: 100%;
}
#restaurant-details {
  margin: 0 0.5em;
}
#reviews-container {
  
}
.reviews-header {
  padding: 1em 1em;
}
#reviews-list {
  padding: 1em 1em;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
.review-single {
  padding: 0.5em 1em;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
.review-header {
  background-color: #333;
  height: 4.5em;
}
.review-header p {
  color: white;
}
.review-name {
  font-size: 1.2em;
  margin: 0;
  padding: 1.0em 0 0 0.8em;
  float: left;
}
.review-date {
  font-weight: 300;
  font-size: 0.8em;
  float: right;
  margin: 0;
  padding: 1.2em 1em 0 0;
}
.review-rating {
  background-color: #f58500;
  color: white;
  text-align: center;
  padding: 0.2em;
  margin: 2em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.2em;
}
.review-comments {
  margin: 1em;
  font-size: 0.8em;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  border-radius: 1.5em 0;
  display: block;
  list-style-type: none;
  margin: 0 0 10px;
  overflow: hidden;
  position: relative;
  height: 100%;
}
#reviews-list li p {
  
}
#restaurant-hours td {
  color: #666;
  font-size: 0.8em;
}